
.sidebar{
    border-right: 1px solid var(--twitter-background);    
    width: 20rem;
    min-width: 250px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    left: 30px;
    height: 100vh;
    z-index: 999;
    background-color: #fff;

}
.sidebar__twitterIcon{
    color : var(--twitter-color);
    font-size : 30px !important;
    margin-left : 20px;
    margin-bottom : 20px;
}


.sidebar__tweet {
    background-color : var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
}


.Log__Out__Section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Log__Out__Section .MuiSvgIcon-root{
    cursor: pointer;
}
.Log__Out__Section .userName{
    font-weight: 600;
}
.Log__Out__Section .userName+p{
    color: rgb(69, 68, 68);
    margin-top: .3rem;
}

.logout__section{
    margin-top: 4rem;
    transition: all 1s ease;
}

.popup-section{
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: -3rem;
    margin-bottom: .5rem;
    position: relative;
    box-shadow: 0 0 3px 2px rgb(220, 220, 220);
    background-color: #fff;
    transition: all 1s ease;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.popup-section::after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: rotate(45deg);
    box-shadow: 0 0 3px 2px rgb(204, 204, 204);
    z-index: -999;
    background-color: #fff;
}

@media screen and (max-width : 1024px){
    .sidebar{
        width: 5rem;
        min-width: 105px;
    }
    .sidebar__tweet {
        border-radius: 5px !important;
        height: 50px !important;
        margin-top: 20px !important;
    }
    .text__dn, .display__none{
        display: none;
    }
    .popup-section{
        width: 220px;
    }
    .popup-section::after{
        top: 65%;
        left: 10%;
        transform: rotate(60deg);
    }
}