.feed{
    width: 35rem;
    border-right: 1px solid var(--twitter-background);    
    overflow-y: scroll;
    position:relative;
    top:3rem;
    /* left: 20rem; */

}
.feed::-webkit-scrollbar{
    display: none;
}

.feed__header{
    width: 35rem;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 99;
    border: 1px solid var(--twitter-background); 
    padding: 15px 20px;
}
.feed__header > h2{
    font-size: 20px;
    font-weight: 800;
}