.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-top: 2rem;
  width: 100%;
  
}

.shadow-box {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.heading {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.grey-text {
  color: #657786;
  font-size: 14px;
  margin: 10px 0;
}

.bold-text {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.show-more-btn {
  width: 100%;
  padding: 10px;
  background-color: #1da1f2;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 0 0;
  cursor: pointer;
}

.show-more-btn:hover {
  background-color: #0c86c7;
}